<div class="row mt-3">
  <ul class="col list-unstyled list-inline mb-4 work_menu">
    <li>
      <%= project.description.html_safe %>
    </li>
    <li class="list-inline-item mt-2">
      <%= link_to "LINK", project.url, target: "_blank" %>
    </li>
  </ul>
</div>
