<div class="container mt-5 text-center" id="music-videos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 mb-4">
        <div class="text-center">
          <h2>Music Videos</h2>
          <%# <p class="text-muted mx-auto section-subtitle mt-3">You can download the images below to use as wallpapers.<br> Alternatively, you can buy some of them as canvas <u><%= link_to "here", "https://www.inprnt.com/gallery/guilpejon/", target: "_blank" %1></u>.</p> %>
        </div>
      </div>
    </div>
    <div class="album py-2">
      <div class="row">
        <% @videos.each do |video| %>
          <div class="col-md-6 col-lg-4">
            <%= link_to video.url, data: { toggle: "lightbox", gallery: "youtube", width: "800" } do %>
              <div class="col-sm d-flex">
                <div class="card mb-4 shadow-sm flex-fill">
                  <%= image_tag video.thumbnail, class: 'card-img-top' %>
                  <div class="card-body d-flex">
                    <p class="card-text flex-fill"><%= video.title %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
