<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New contact message by <%= @name %></h1>
    <% @message.split("\n").each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </body>
</html>
