$black: #000000e6;
$light-black: #000000b3;
$lighter-black: #00000080;

$gray: #f5f5f5;
$darker-gray: #c3cace;
$darkerer-gray: #808080;

$light-blue: #20a5dc;

$content-border: #dee2e6;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 900px
) !default;
