.header-table-center {
  .first-title {
    font-weight: 400;
  }
  .header-name {
    font-weight: 600;
  }
}

.social-icon {
  width: 50px !important;
  height: 50px;
  padding: 16px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  margin: 0 4px;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    background: #fff;
    color: orange;
  }
}

//
// TYPEWRITER EFFECT BEGINS
//

#text {
	display: inline-block;
	letter-spacing: 2px;
	color: orange;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: orange;
	}
}

//
// TYPEWRITER EFFECT ENDS
//
