/*===========================
        HOME
=============================*/

@include media-breakpoint-down(sm) {
  .work_menu a {
    background-color: orange;
    color: white !important;
  }
}

/*===========================
        ABOVE THE FOLD
=============================*/

.header-table-center {
  .first-title {
    font-weight: 400;
  }
  .header-name {
    font-weight: 600;
  }
}

.modal-footer,
.modal-body {
  text-align: center !important;
}

.spinner-border {
  margin: 50px;
  width: 2.5rem;
  height: 2.5rem;
}

.social-icon {
  width: 50px !important;
  height: 50px;
  padding: 16px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  margin: 0 4px;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    background: #fff;
    color: orange;
  }
}

/*===========================
        TYPEWRITER EFFECT
=============================*/

#text {
	display: inline-block;
	letter-spacing: 2px;
	color: orange;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: orange;
	}
}

/*===========================
        BLOG
=============================*/

.section-padding{
	padding: 140px 0;
}

.bg-gray{
	background: #fbfbfb !important;
}

.blog{
	.item{
		.post-img{
			.img{
				overflow: hidden;
			}

			&:hover{
				img{
					transform: scale(1.1,1.1);
				}
			}

			img{
				transition: all .5s;
			}
		}

		.cont{
			position: relative;
			// padding: 50px;
			background: #fff;
      padding: 10px;
			// width: 80%;
			// margin-left: 10%;
			// margin-top: -50px;
			transition: all .4s;

      h5 {
        text-align: left;
        a{
          transition: color 0.2s ease;
        }
      }
		}

		.info{
			margin-bottom: 50px;
			padding-top: 15px;
			position: relative;

			&:after{
				content: '';
				width: 30px;
				height: 1px;
				background: #000;
				position: absolute;
				top: 0;
				left: 0;
			}

			span{
				color: #999;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 500;
				margin-right: 10px;

				&:first-of-type{
					float: left;
        }

				&:last-of-type{
					margin-right: 0;
					float: right;
					color: #555;
				}

				i,em{
					margin-right: 5px;
				}

				em{
					color: #555;
				}
			}
		}

		h4{
			font-weight: 700;
			line-height: 1.7;
			margin-bottom: 30px;
		}

		.more{
			color: #333;
			font-size: 13px;
			font-weight: 600;
			border-bottom: 1px solid #ccc;
		}
	}
}

/*===========================
        PROJECTS
=============================*/

#projects .img-thumbnail {
  border-radius: 50%;
  border: none;
}

/*===========================
        ART
=============================*/

#art .img-thumbnail {
  border: none;
}

/*===========================
        CONTACT
=============================*/

#contact {
  padding-bottom: 0px;
}


@media (hover: none) {
  .social-icon {
     background-color: none;
   }
}

@include media-breakpoint-up(xs) {
  .card-body{
    padding: 0.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .card-body{
    padding: 1.25rem;
  }
}
