<footer class="page-footer font-small cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="d-flex justify-content-center">
          <%= link_to "https://www.facebook.com/guilherme.pejon", class: "fb-ic", target: "_blank" do %>
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          <% end %>
          <%= link_to "https://twitter.com/guilpejon", class: "tw-ic", target: "_blank" do %>
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/guilpejon", class: "ins-ic", target: "_blank" do %>
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          <% end %>
          <%= link_to "https://www.instagram.com/guilpejon", class: "ins-ic", target: "_blank" do %>
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
